---
import MainLayout from "../components/Header.astro";
import Sektion from "../components/Sektion.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Titel">
  <Sektion>
    <div>
      <h1>Sådan laver man en digital oprydning</h1>
      <p>
        Companies and organisations can make changes in everyday work flow that
        help reduce the ecological footprint of digital systems significantly.
        This requires a little time and willingness to make strategic decisions
        and implement simple changes. When you think of your workflow, you must
        evaluate what does and does not work, then assess how you can make the
        system work better for everyone.
      </p>
    </div>
    <div>
      <button>Til virksomheder</button>
      <button>Til enkeltpersoner</button>
    </div>
  </Sektion>

  <Sektion>
    <h3>Digital oprydning for virksomheder</h3>
    <h2>Hvorfor skal min virksomhed deltage?</h2>
    <div>
      <Image src={thumbsup} alt="" />
      <p>
        By tackling your digital footprint issue head-on, you reduce your
        organisations environmental load, creating instead a much more
        sustainable workflow.
      </p>
    </div>
    <div>
      <Image src={thumbsup} alt="" />
      <p>
        By tackling your digital footprint issue head-on, you reduce your
        organisations environmental load, creating instead a much more
        sustainable workflow.
      </p>
    </div>
    <div>
      <Image src={thumbsup} alt="" />
      <p>
        By tackling your digital footprint issue head-on, you reduce your
        organisations environmental load, creating instead a much more
        sustainable workflow.
      </p>
    </div>
    <div>
      <Image src={thumbsup} alt="" />
      <p>
        By tackling your digital footprint issue head-on, you reduce your
        organisations environmental load, creating instead a much more
        sustainable workflow.
      </p>
    </div>
    <div>
      <Image src={thumbsup} alt="" />
      <p>
        By tackling your digital footprint issue head-on, you reduce your
        organisations environmental load, creating instead a much more
        sustainable workflow.
      </p>
    </div>
    <div>
      <Image src={thumbsup} alt="" />
      <p>
        By tackling your digital footprint issue head-on, you reduce your
        organisations environmental load, creating instead a much more
        sustainable workflow.
      </p>
    </div>
  </Sektion>

  <Sektion>
    <h2>Sådan reducerer du sin organisations digitale fodaftryk</h2>
    <div>
      <div>
        <h3>step</h3>
        <h3>titel</h3><p>tekst</p>
      </div>
      <div>
        <h3>step</h3>
        <h3>titel</h3>
        <p>tekst</p>
      </div>
      <div>
        <h3>step</h3>
        <h3>titel</h3>
        <p>tekst</p>
      </div>
      <div>
        <h3>step</h3>
        <h3>titel</h3>
        <p>tekst</p>
      </div>
    </div>
    <Button>Del din organisations resultater</Button>
  </Sektion>

  <Sektion>
    <h3>Digital oprydning for enkeltpersoner</h3>
    <h2>Hvordan man laver en digital oprydning</h2>
  </Sektion>

  <Sektion>
    <div>
      <h3>step</h3>
      <p>tekst</p>
      <Image src={thumbsup} alt="" />
    </div>
    <div>
      <Image src={thumbsup} alt="" />
      <h3>step</h3>
      <p>tekst</p>
    </div>
    <div>
      <h3>step</h3>
      <p>tekst</p>
      <Image src={thumbsup} alt="" />
    </div>
    <div>
      <Image src={thumbsup} alt="" />
      <h3>step</h3>
      <p>tekst</p>
    </div>
    <Button>Del dine resultater</Button>
  </Sektion>
</MainLayout>
